body {
      margin: 0;
    }

    #map {
      height: 100vh;
      width: 100vw;
    }

    .leaflet-popup-content-wrapper {
  border-radius: 12px;
  font-family: Arial, sans-serif;
}

.leaflet-popup-content {
  font-size: 13px;
  line-height: 1.4;
}

.popup-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

.linkpopuptitle{
  color:#222;
}
.linkpopuptitle:hover{
  color:#222;
  cursor:pointer;
}
.linkpopuptitle:visited{
  color:#222;
}

.popup-section {
  margin-top: 8px;
  padding-top: 6px;
  border-top: 1px solid #eee;
}

.popup-label {
  font-weight: bold;
}

#controls {
  position: absolute;
  top: 10px;
  right: 10px;   
  z-index: 1000;

  background: white;
  padding: 10px;

  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#controls label {
  display: block;
  margin-bottom: 5px;
}


.popup-highlight {
  background: #f5f7ff;
  border-left: 4px solid #4a6cf7;
  padding: 6px 10px;
  border-radius: 6px;
  margin-top: 8px;
}

.legend {
  position: absolute;
  top: 10px;

  right: calc(10px + 260px);

  background: white;
  padding: 10px;

  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);

  font-size: 12px;
  z-index: 1000;
}

.legend.hidden {
  display: none;
}

.legend .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 6px;
}

.legend .pol { background: #eaa91eef; }
.legend .obs { background: #148b48f0; }
.legend .both { background: #82114a; }

.search-box {
  margin-bottom: 10px;
}

#searchInput {
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}